[submodule "submodule/DepthAnythingv2"]
	path = submodule/DepthAnythingv2
	url = git@github.com:DepthAnything/Depth-Anything-V2.git
[submodule "submodule/Flashdepth"]
	path = submodule/Flashdepth
	url = git@github.com:ZetaJ7/FlashDepth.git
